/* Navbar styles */
.navbar {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
}

.icons {
  display: flex;
}

.btn {
  margin-left: 5px;
}

/* Form container styles */
.container-fluid {
  margin-top: 20px;
}

/* List container styles */
.list-container {
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}

.list-group {
  list-style: none;
  padding-left: 0;
}

.card {
  border: none;
}

/* Input styles */
.note-title,
.note-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Button styles */
.btn {
  margin-top: 10px;
}

/* Responsive styles for different screen sizes */
@media (max-width: 768px) {
  .list-container {
    height: auto;
    border-right: none;
  }
}
